/**
* @file 
* @date 2022-08-11
* @author zhuxiaojiao
* @lastModify zhuxiaojiao 2022-08-11
*/


/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */


/** Import all the reference constant after this line */


/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */


/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */


/** The demo mixin is ..........*/

@mixin demo {}


/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */


/* <--------------------------- * SECTION1 * --------------------------- */

.img_wrap {
    img {
        width: 20rem;
        margin-right: 2rem;
        border-radius: 2rem;
    }
}


/* <--------------------------- * SECTION1 * --------------------------- */